@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome To Discover Ohio</h1>
</div>
<img src="https://ohiodnr.gov/wps/wcm/connect/gov/61f6c63f-ab72-48e9-abc0-2c728a7a6457/Rockbridge_HERO2.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_K9I401S01H7F40QBNJU3SO1F56-61f6c63f-ab72-48e9-abc0-2c728a7a6457-onbht1U" height="300px" />

<html lang="en">
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h2 class="masthead-brand">Discover Ohio</h2>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="\ourteam">Our Team</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h3 class="cover-heading">Welcome to Discover Ohio.</h3>
            <p class="lead">
                Discover Ohio and their team are here to help you find resources for finding ways to enjoy the natural beauty of Ohio.
                Our team is here to help you find the right fishing spot, hiking trail, bird watching spot or any other public or private resource to help you experience nature in Ohio.
            </p>

            <h3>What We Do</h3>
            <ul>
                <li>Fishing Trips</li>
                <li>Hunting Trips</li>
                <li>Hiking Tours</li>
                <li>Camping Experiences</li>
                <li>Bird Watching Experiences</li>
            </ul>

            <h3>Our Information</h3>
            <p>
                3833 Doris Drive
            </p>
            <p>
                Okeana, OH 45053
            </p>
            <p>Phone: (513) 479-4381</p>

            <h3>Testimonials</h3>
            <p>"I've never had a better time fishing and camping, than with Discover Ohio!"</p>
            <p> - Ann Dovetail </p>


        </main>


    </div>

</body>
</html>