@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><a href="http://localhost:31603/Candidates">Candidates</a></p>
    <p><a href="http://localhost:31603/Companies">Companies</a></p>
    <p><a href="http://localhost:31603/Industries">Industries</a></p>
    <p><a href="http://localhost:31603/JobTitles">JobTitles</a></p>
</div>


